.wholePage {
  position: relative;
}

.h2 {
  color: white;
  font-size: 1.75em;
  text-transform: capitalize;
  position: relative;
  top: -63px;
  margin-left: 20px;
}

.bills {
  background-color: white;
  padding-top: .5px; /* value doesn't matter here for some reason, any value gives a fixed top padding */
}

.searchBillFilters {
  margin-top: -55px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.searchBillFilters form:last-child {
  margin-right: 20px;
}

/* Styling account card */
.li {
  list-style: none;
}

.hr {
  margin-right: 30px;
}

.h4 {
  font-size: 1.25em;
  padding-top: 10px;
  margin-bottom: 0;
}

.accDetailsLink {
  text-decoration: none;
  color: black;
}

.accDetailsLink:hover {
  text-decoration: underline;
}

/* Due date and Amount info */
.info {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

/* Amount info */
.info div:last-child {
  margin-left: 30px;
}

.dueLabel,
.amountLabel {
  font-style: italic;
  font-size: .75em;
  color: #00506B;
  margin-bottom: 0;
}

.due,
.amount {
  font-size: 1.25em;
  margin: 0;
}

.amount {
  color: #A8009C;
}

.centerButtons {
  /* text-align: center; */
}

.li button {
  margin-top: 15px;
  margin-bottom: 25px;
}

.li button:last-child {
  margin-left: 20px;
}

/* .details {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  background-color: white;
} */

@media screen and (min-width: 500px) and (max-width: 799px) {
  .tabletViewBillInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .centerButtons {
    margin-right: 30px;
  }

  .li button:last-child {
    margin-left: 5px;
  }
}

@media screen and (min-width: 800px) {
  .h2 {
    margin-left: 10vw;
    top: -5vh;
  }

  .allContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .searchBillFilters {
    margin-left: 10vw;
    justify-content: flex-end;
    width: 54vw;
    position: absolute;
    top: 20px;
    left: 0;
    /* border: 1px solid black; */
  }

  .searchBillFilters form:last-child {
    margin-right: 0;
  }

  .bills {
    margin-top: 0;
    margin-left: 10vw;
    width: 57vw;
    height: 75vh;
    background-color: white;
    overflow: auto;
    border-radius: 7px;
  }

  /* .details {
    margin: 0 5vw;
    width: 27vw;
    height: 75vh;
    overflow: auto;
    border-radius: 7px;
    background-color: white;
    position: relative;
  } */

  .li {
    padding-right: 40px;
  }

  .hr {
    margin-right: 40px;
  }

  .tabletViewBillInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
