.allContent {
  margin: 0 40px;
  margin-top: 25px;
  overflow: auto;
}

.h3 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 20px;
}

.label {
  font-style: italic;
  font-size: .75em;
  color: #00506B;
  margin-bottom: 0;
}

.details {
  font-size: 1.25em;
  margin: 0;
}

.details span {
  color: #A8009C;
  float: right;
}

.billHistory {
  margin-top: 25px;
}

.detailPage {
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* z-index: 1; */
  left: 0;
  top: 0;
  overflow-x: hidden;
  background-color: white;
}


@media screen and (min-width: 800px) {
  .detailPage {
    margin: 0 5vw;
    width: 27vw;
    height: 75vh;
    overflow: auto;
    border-radius: 7px;
    background-color: white;
    position: relative;
  }

  .payHere {
    margin-left: 20px;
  }
}
