.form {
  background-color: #01b09f;
  color: white;
  width: 125px;
  height: 35px;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  font-size: .75em;
  transition: all 0.07s;
}

.form:hover,
.payHere:hover,
.markAsPaid:hover,
.cancelForm:hover,
.updateForm:hover,
.confirmDelete:hover,
.cancelDelete:hover {
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, .6);
  transform: scale(1.1);
}

/* More styles specifc to pages can be found under page modules */
/* ie: For Summary page specific designs, see summary.module.css */
.payHere,
.markAsPaid,
.cancelForm,
.updateForm,
.confirmDelete,
.cancelDelete {
  background-color: #01b09f;
  color: white;
  width: 100px;
  height: 30px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  transition: all 0.07s;
  text-transform: uppercase;
}

.payHere a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.editting {
  border: none;
  width: 32px;
  transition: all 0.07s;
}

.settingsAdd {
  border: none;
  width: 50px;
  transition: all 0.07s;
}

.editting:hover,
.settingsAdd:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.updateForm,
.confirmDelete {
  background-color: #6F0084;
}

.cancelForm,
.cancelDelete {
  background-color: #00506B;
}

.backToBills {
  display: block;
  margin-bottom: 35px;
}

@media screen and (min-width: 800px) {
  .backToBills {
    display: none;
  }
}
