.background {
  padding-top: 50px;
  height: 100vh;
  background: -moz-linear-gradient(50% 128.89% 90deg,rgba(0, 62, 107, 1) 0%,rgba(2, 60, 107, 1) 41.9%,rgba(39, 22, 114, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 41.9%, rgba(39, 22, 114, 1) 100%);
  background: -ms-linear-gradient(90deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 41.9%, rgba(39, 22, 114, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 41.9%, rgba(39, 22, 114, 1) 100%);
}

fieldset {
  border: none;
}

legend {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;

}

.form {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}

.form label {
  display: block;
}

.formInput {
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 325px;
  height: 35px;
  padding: 0 10px;
  color: grey;
}

.inputLabel {
  opacity: 0;
  /* display: block; */
}

.linkToOtherForm {
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
  font-size: .75em;
}

.linkToOtherForm:hover {
  text-decoration: underline;
}

.dropDown {
  background-color: white;
  margin-top: 20px;
}

.searchForm {
  display: flex;
  margin-bottom: 10px;
}

.searchForm label,
.filterForm label {
  font-size: .5em;
  opacity: 0;
}

.searchInput {
  width: 40vw;
  height: 35px;
  border-radius: 5px 0 0 5px; /* top-left, top-right, bottom-right, bottom-left */
  border: none;
  padding: 0 10px;
  color: grey;
}

.searchForm button {
  background-color: #A8009C;
  border: none;
  width: 10vw;
  max-width: 50px;
  border-radius: 0 5px 5px 0; /* top-left, top-right, bottom-right, bottom-left */
}

.searchForm button:disabled {
  opacity: .7;
}

.searchForm button img {
  width: 75%;
}

.filterDropDown {
  width: 25vw;
  height: 35px;
  border: none;
  margin-bottom: 10px;
  margin-left: 5px;
  color: grey;
}

.validator {
  color: white;
  margin-bottom: 5px;
}

.editFormLegend {
  color: black;
  text-align: left;
  font-size: 1.5em;
}

.editFormLabel {
  margin-top: 10px;
  display: block;
}

.editDropDown {
  margin-top: 0;
}

.editCancelButton,
.editUpdateButton {
  margin-top: 30px;
}

.editCancelButton {
  margin-left: 20px;
}


@media screen and (min-width: 800px) {
  .formInputs {
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    padding-bottom: 20px;
  }

  .formInput {
    width: 65%;
    border: 1px solid lightgrey;
    color: grey;
  }

  .form {
    width: 50vw;
  }

  .searchInput {
    width: 150px;
  }

  .filterDropDown {
    width: 75px;
  }
}
