.background {
  padding-top: 50px;
  height: 100vh;
  background: -moz-linear-gradient(50% 128.89% 90deg,rgba(0, 62, 107, 1) 0%,rgba(2, 60, 107, 1) 41.9%,rgba(39, 22, 114, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 41.9%, rgba(39, 22, 114, 1) 100%);
  background: -ms-linear-gradient(90deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 41.9%, rgba(39, 22, 114, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 41.9%, rgba(39, 22, 114, 1) 100%);
}

fieldset {
  border: none;
}

legend {
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;

}

.form {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}

.form label {
  display: block;
}

.formInput {
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  width: 100%;
  max-width: 325px;
  height: 35px;
  padding: 0 10px;
  color: grey;
}

.inputLabel {
  opacity: 0;
}

.linkToOtherForm {
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
  font-size: .75em;
}

.linkToOtherForm:hover {
  text-decoration: underline;
}

.dropDown {
  background-color: white;
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  .formInputs {
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    padding-bottom: 20px;
  }

  .formInput {
    width: 65%;
    border: 1px solid lightgrey;
    color: grey;
  }

  .form {
    width: 50vw;
  }
}
