.nav {
  box-sizing: border-box;
  background-color: #005D70;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.nav a:first-child:hover {
  text-decoration: underline;
}

.nav a:visited {
  color: white;
}

.signInButton {
  display: inline;
  margin-left: 20px;
  margin-top: 0;
  font-size: .9em;
}

.landingContent {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative; /* for cloud positioning */
}

.landingContent h1 {
  font-size: 3.75em;
  line-height: 1;
  margin-bottom: 2%;
}

.landingContent p {
  font-size: 1.25em;
  font-weight: 300;
}

.landingCloud {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 10px) {
  .landingContent {
    max-width: 80vw;
  }

  .landingContent h1,
  .landingContent p {
    margin-left: 5%;
  }

  .landingCloud {
    width: 60vw;
  }
}

@media only screen and (min-width: 1200px) {
  .nav {
    padding: 0 3%;
  }
}
