.nav {
  box-sizing: border-box;
  background-color: #005D70;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.nav a:first-child:hover {
  text-decoration: underline;
}

.nav a:visited {
  color: white;
}

.signInButton {
  display: inline;
  margin-left: 20px;
  margin-top: 0;
  font-size: .9em;
}

.landingBackground {
  height: 100vh;
  width: 100vw;
  background: -moz-linear-gradient(50% 128.89% 90deg,rgba(0, 62, 107, 1) 0%,rgba(2, 60, 107, 1) 30%,rgba(39, 22, 114, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 30%, rgba(39, 22, 114, 1) 100%);
  background: -ms-linear-gradient(90deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 30%, rgba(39, 22, 114, 1) 100%);
  background: linear-gradient(0deg, rgba(0, 62, 107, 1) 0%, rgba(2, 60, 107, 1) 30%, rgba(39, 22, 114, 1) 100%);
}

.landingContent {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative; /* for cloud positioning */
}

.landingContent h1 {
  font-size: 3.75em;
  line-height: 1;
  margin-bottom: 2%;
}

.landingContent p {
  font-size: 1.25em;
  font-weight: 300;
}

.landingCloud {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.features,
.demoAccount {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10% 0;
}

.featureCard,
.demoInfo {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
  padding: 0 5%;
  border-radius: 5px;
}

.featureCard img {
  width: 50px;
}

.featureCard img,
.featureCard h2,
.featureCard p {
  position: relative;
  top: -25px;
}

/* more styles above with .features */
.demoAccount {
  justify-content: center;
}

.demoText {
  color: #271672;
  width: 85%;
  margin-bottom: 10%;
}

.demoText h3 {
  font-size: 2.5em;
}

.demoText p {
  font-size: 1.25em;
}

/* more styles above with .featuerCard */
.demoInfo {
  box-sizing: border-box;
  width: 70vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.demoInfoLabel {
  text-align: left;
  margin: 0;
  margin-bottom: 3px;
}

.demoInfoValue {
  color: #A8009C;
  border: .25px solid rgba(0,0,0,.2);
  padding: 7px;
  margin-top: 0;
}


@media only screen and (min-width: 10px) {
  .landingContent {
    max-width: 80vw;
  }

  .landingContent h1,
  .landingContent p {
    margin-left: 5%;
  }

  .landingCloud {
    width: 60vw;
  }

  .featureCard {
    width: 65%;
  }

  .demoAccount {
    height: 90vh;
    margin-top: -12vh;
  }
}

@media only screen and (min-width: 600px) {
  .landingContent {
    max-width: 70vw;
  }

  .landingContent h1,
  .landingContent p {
    margin-left: 10%;
  }

  .landingContent h1 {
    font-size: 4em;
  }

  .landingCloud {
    width: 45vw;
  }

  .features {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 5%;
  }

  .featureCard {
    width: 20%;
    height: 34%;
  }

  .demoAccount {
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 70vh;
    margin-top: -15vh;
  }

  .demoText,
  .demoInfo {
    width: 40vw;
  }

  .demoInfo {
    padding: 0 5%;
  }

  .demoText {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 900px) {
  .landingContent {
    max-width: 50vw;
  }

  .landingContent h1,
  .landingContent p {
    margin-left: 15%;
  }

  .landingContent h1 {
    font-size: 4.5em;
  }

  .landingCloud {
    width: 30vw;
  }

  .featureCard {
    height: 37%;
  }

  .featureCard img {
    width: 70px;
    top: -35px;
  }

  .featureCard h2 {
    font-size: 1.75em;
  }

  .featureCard p {
    font-size: 1.1em;
  }

  .demoText,
  .demoInfo {
    width: 35vw;
  }

  .demoText h3 {
    font-size: 2.75em;
  }

  .demoInfo {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 1200px) {
  .nav {
    padding: 0 3%;
  }

  .landingContent {
    max-width: 40vw;
  }

  .landingContent h1,
  .landingContent p {
    margin-left: 15%;
  }

  .landingContent h1 {
    font-size: 5.5em;
  }

  .landingCloud {
    width: 20vw;
  }

  .featureCard img {
    width: 75px;
    top: -37.5px;
  }

  .featureCard h2 {
    font-size: 2em;
  }

  .featureCard p {
    font-size: 1.25em;
  }

  .demoAccount {
    box-sizing: border-box;
    padding: 0 10%;
    height: 90vh;
    margin-top: -12vh;
  }

  .demoText,
  .demoInfo {
    width: 30vw;
  }

  .demoText h3 {
    font-size: 3em;
  }

  .demoInfo {
    font-size: 1.4em;
  }
}
