.navBackground {
  position: relative;
  height: 50px;
  background-color: transparent;
  z-index: 5;
}

.desktop {
  display: none;
}

.menuIcon {
  width: 35px;
  padding: 5px 15px;
}

.menuButton {
  position: absolute;
  right: 0;
  border: none;
  z-index: 5;
  background-color: transparent;
}

.mobileMenuPage {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  overflow-x: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  margin-left: 30vw;
  margin-bottom: 20px;
  /* border: 1px solid black; */
}

.link {
  /* font-family: 'Source Sans Pro'; */
  font-size: 1.75em;
  font-weight: 600;
  color: black;
  padding-left: 20px;
  /* border: 1px solid black; */
}

.link:link {
  text-decoration: none;
}

.linkIcon {
  width: 32px;
  vertical-align: bottom;
}

/* logout button */
.logout {
  margin-top: 30px;
  width: 65px;
}

.logout:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .row {
    margin-left: 40vw;
  }
}


@media only screen and (min-width: 800px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: inline-block;
    width: 65px;
    height: 100vh;
    /* border: 1px solid black; */
    text-align: center;
  }

  .row {
    /* margin-left: 0; */
    margin: 0 auto;
  }

  .link {
    padding: 0; /* removes mobile styling */
  }

  .firstLink {
    margin-top: 15px;
  }

  .linkIcon {
    width: 45px;
  }

  .link p {
    color: #01B09F;
    font-size: .4em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
  }

  .logout {
    position: absolute;
    width: 100px;
    height: 30px;
    color: white;
    opacity: .5;
    top: 40px;
    right: 5vw;
    z-index: 5;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
  }

  .logout:hover {
    opacity: 1;
  }
}
