.wholePage {
  position: relative;
  box-sizing: border-box;
}

.desktopView {
  display: none;
}

.h2 {
  color: white;
  font-size: 1.75em;
  text-transform: capitalize;
  position: relative;
  top: -63px;
  margin-left: 20px;
}

.allContent {
  margin-top: -75px;
  padding: 0 30px;
  padding-top: 30px;
  background-color: white;
  min-height: 100vh;
}

.h3 {
  /* font-size: 2em; */
  margin-bottom: 20px;
  padding-top: 30px
}

.userImg {
  width: 100px;
}

.uploadImgButton {
  margin-bottom: 30px;
}

.labelAndButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.labelAndButton p {
  width: 70%;
}

.button {
  margin: 0;
}

.labelAndButton:last-child {
  margin-bottom: 35px;
}

.incomePage {
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* z-index: 1; */
  left: 0;
  top: 0;
  overflow-x: hidden;
  background-color: white;
}

.incomeAllContent {
  margin: 0 40px;
  margin-top: 25px;
  overflow: auto;
  padding:5px;
}

.incomeUl {
  padding-left: 0;
}

.incomeLi {
  list-style: none;
}

.incomeInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* .incomeInfo h4, */
.incomeInfo p {
  margin: 10px 0;
  font-size: 1.1em;
}

.incomeHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.incomeHeader h3 {
  font-size: 1.5em;
}

@media screen and (min-width: 800px) {
  .mobileView {
    display: none;
  }

  .desktopView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .h2 {
    margin-left: 10vw;
    top: -5vh;
  }

  .allContent {
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 10vw;
    width: 54vw;
    min-height: 0; /* overrides mobile */
    height: 75vh;
    background-color: white;
    overflow: auto;
    border-radius: 7px;
  }

  .form,
  .incomePage  {
    box-sizing: border-box;
    margin: 0 5vw;
    padding: 0 20px;
    width: 27vw;
    height: 75vh;
    overflow: auto;
    border-radius: 7px;
    background-color: white;
    color: black;
    position: relative;
  }
}
