h2 {
  color: white;
  font-size: 1.75em;
  text-transform: capitalize;
  position: relative;
  top: -63px;
  margin-left: 20px;
}

.expenses {
  background-color: white;
  margin-top: -70px;
}

.barGraphs {
  display: flex;
  flex-direction: column;
  margin-top: -25px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0;
  margin-left: 5%;
}

.upcomingBills {
  background-color: white;
}

h3 {
  color: black;
  margin-left: 5%;
}

li {
  list-style: none;
  /* width: 85%;
  margin: 0 auto; */
}

hr {
  margin-right: 30px;
}

h4 {
  font-size: 1.25em;
  padding-top: 10px;
  margin-bottom: 0;
}

.accDetailsLink {
  text-decoration: none;
  color: black;
}

.accDetailsLink:hover {
  text-decoration: underline;
}

/* Due date and Amount info */
.info {
  display: flex;
  /* flex-direction: row; */
}

/* Amount info */
.info div:last-child {
  margin-left: 30px;
}

.dueLabel,
.amountLabel {
  font-style: italic;
  font-size: .75em;
  color: #00506B;
  margin-bottom: 0;
}

.due,
.amount {
  font-size: 1.25em;
  margin: 0;
}

.amount {
  color: #A8009C;
}

.centerButtons {
  /* text-align: center; */
}

li button {
  margin-top: 15px;
  margin-bottom: 25px;
}

li button:last-child {
  margin-left: 20px;
}

@media screen and (min-width: 500px) and (max-width: 799px) {
  .tabletViewBillInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .centerButtons {
    margin-right: 30px;
  }

  li button:last-child {
    margin-left: 5px;
  }
}

@media screen and (min-width: 800px) {
  h2 {
    margin-left: 10vw;
    top: -5vh;
  }

  .expenses {
    margin-top: 0;
    margin-left: 10vw;
    width: 57vw;
    height: 75vh;
    background-color: white;
    overflow: auto;
    border-radius: 7px;
  }

  .upcomingBills {
    margin: 0 5vw;
    width: 27vw;
    height: 75vh;
    overflow: auto;
    border-radius: 7px;
  }

  h3 {
    margin-left: 8%;
  }

  li {
    padding-right: 40px;
  }

  .centerButtons {
    text-align: center;
  }

  hr {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1000px) {


}
