h2 {
  margin-left: 10vw;
  color: white;
  font-size: 1.75em;
  text-transform: capitalize;
  position: relative;
  top: -5vh;
}

.expenses {
  margin-left: 10vw;
  width: 57vw;
  height: 75vh;
  background-color: white;
  overflow: auto;
  border-radius: 7px;
}

.barGraphs {
  display: flex;
  flex-flow: column wrap;
  margin-top: -25px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0;
  margin-left: 5%;
}

.upcomingBills {
  margin: 0 5vw;
  width: 27vw;
  height: 75vh;
  background-color: white;
  overflow: auto;
  border-radius: 7px;
}

h3 {
  color: black;
  margin-left: 8%;
}

li {
  list-style: none;
  /* width: 85%;
  margin: 0 auto; */
  padding-right: 40px;
}

hr {
  margin-right: 40px;
}

h4 {
  font-size: 1.25em;
  padding-top: 10px;
  margin-bottom: 0;
}

.accDetailsLink {
  text-decoration: none;
  color: black;
}

.accDetailsLink:hover {
  text-decoration: underline;
}

/* Due date and Amount info */
.info {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.info div:last-child {
  margin-left: 30px;
}

.dueLabel,
.amountLabel {
  font-style: italic;
  font-size: .75em;
  color: #00506B;
  margin-bottom: 0;
}

.due,
.amount {
  font-size: 1.25em;
  margin: 0;
}

.amount {
  color: #A8009C;
}

.centerButtons {
  text-align: center;
}

li button {
  margin-top: 15px;
  margin-bottom: 25px;
}

li button:last-child {
  margin-left: 20px;
}
